<h3>Messages</h3>
<hr />
<% if @messages.empty? %>
  <h4>You have no messages with this user yet.</h4>
<% else %>
  <% @messages.each do |message| %>
    <p><strong><%= message.user.username %></strong>: <%= message.body %></p>
  <% end %>
<% end %>
<hr />
<%= form_for [@conversation, Message.new] do |f| %>
 <div class="field">
   <%= f.text_area :body %>
   <%= f.hidden_field :user_id, :value => current_user.id %>
 </div>
 <div class="actions">
     <%= f.submit "Send", id: "admin-buttons" %>
 </div>
<% end %>
