<p>Messages</p>
<% @messages.each do |message| %>
  <p><%= message.body %> from <%= message.user.username %></p>
<% end %>


<%= form_for [@conversation, Message.new] do |f| %>
 <div class="field">
   <%= f.text_area :body %>
   <%= f.hidden_field :user_id, :value => current_user.id %>
 </div>
 <div class="actions">
   <%= f.submit "Send" %>
 </div>
<% end %>
