<h1><%= @user.username %></h1>
<h3><%= @user.email %></h3>
<h3><%= @user.party %></h3>
<h3><%= @user.address %></h3>

<% @user.comments.each do |comment| %>
 <p><%= comment.body %></p>
<% end %>
<%= link_to 'Send a message!', conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post', class:'btn btn-default'%>
