<h1><%= @user.username %></h1>
<h4><%= @user.email %></h4>
<h4><%= @user.party %></h4>

<hr />

User Post History:
<% if @user.posts.empty? %>
 <p><%= @user.username %> hasn't made any posts yet.</p>
<% end %>
<% @user.posts.each do |post| %>
<ol>
  <li><p><a href="<%= post.body %>"><%= post.title %></a></p>
  <p><%= link_to "View Post", post_path(post.id), method: :get %></p></li>
</ol>
<% end %>

<hr />

User Comment History:
<% if @user.comments.empty? %>
 <p><%= @user.username %> hasn't made any comments yet.</p>
<% end %>
<% @user.comments.each do |comment| %>
<ol>
 <li><p><%= comment.body %></p></li>
</ol>
<% end %>
<%= link_to 'Send a message!', conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post', class:'btn btn-default'%>
