<p>Name: <%= @event.title %></p>
<p>Description: <%= @event.description %></p>
<p>Location: <%= @event.location %></p>
<p>Date: <%= @event.date %></p>
Time: <%= @event.start_time %> to <%=@event.end_time%></p>
