<div class="modal-text">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2>Sign In</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "input-field"   %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: "input-field"   %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in", id: "admin-buttons" %>
        </div>
      <% end %>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
