<div class="modal-text">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2>Create Post</h2>

      <%= form_for [Post.new] do |f| %>
        <div class="field">
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.label :body, "Link" %>
          <p><%= f.url_field :body, :value => "http://", class: "input-field" %></p>
          <%= f.label :title, "Link title" %>
          <p><%= f.text_field :title, class: "input-field"  %></p>
          <%= f.label :summary %>
          <p><%= f.text_area :summary, class: "input-field"  %></p>
          <%= f.label :level, "Level of government" %>
          <p><%= f.select :level, [['National', 'national'],['State', 'state'],['Local', 'local']], class: "input-field"  %></p>
        </div>
        <div class="actions">
          <%= f.submit "Submit", id: "admin-buttons", class: "btn" %>
        </div>
      <% end %>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
