<% if user_signed_in? %>
<h3>WELCOME TO <strong>YOUR</strong> ASSEMBLY POINT <%= current_user.username %></h3>
<% else %>
<h3> Welcome to <strong>YOUR</strong> ASSEMBLY POINT.</h3>
<h5>Sign up today for the full experience!</h5>
<% end %>
<div class="container">
  <div class="row">
    <div class="dashboard-panels col-md-8 col-md-offset-0">
      <div class="panel panel-default">
        <div class="panel-header">Article Feed</div>
        <div class="panel-body" style="max-height: 10em;overflow-y: scroll">
            <p><a href="http://www.chicagotribune.com/news/opinion/zorn/ct-missing-obama-already-perspec-zorn-0504-jm-20160503-column.html">Why You Will Miss Obama</a></p>
            <p><a href="http://abcnews.go.com/Politics/joe-biden-jokes-expects-trumps-vp-pick/story?id=38873659">Biden Jokes About Being Trump's VP Pick</a></p>
            <p><a href="http://www.click2houston.com/news/mitsubishi-moves-us-headquarters-to-houston">Greg Abbott Attends Mitsubishi Moving Ceremony in Houston</a></p>
            <p><a href="https://www.houstonpublicmedia.org/articles/news/2016/04/26/148035/ted-cruz-went-to-washington-to-run-for-president-john-cornyn-says/">John Cornyn Says Cruz Went to Washington To Run For President</a></p>
            <p><a href="http://www.cnn.com/2016/05/03/politics/ted-cruz-drops-out/">Ted Cruz Drops Presidential Big</a></p>
            <p><a href="http://www.statesman.com/news/news/austin-mayor-steve-adler-comes-out-against-prop-1/nrBbJ/">Steve Adler Comes Out Against Prop 1</a></p>
        </div>
      </div>
    </div>
    <div class="dashboard-panels col-md-4 col-md-offset-0">
      <div class="panel panel-default">
        <div class="panel-header">Your Elected Officials</div>
        <div class="panel-body" style="max-height: 10em;overflow-y: scroll">
            <p>Barack Obama</p>
            <p>President of the United States</p>
            <p>Joe Biden</p>
            <p>Vice President of the United States</p>
            <p>Greg Abbott</p>
            <p>Governor of Texas</p>
            <p>John Cornyn</p>
            <p>United States Senator</p>
            <p>Ted Cruz</p>
            <p>United States Senator</p>
            <p>Steve Adler</p>
            <p>Mayor of Austin, TX</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="dashboard-panels">
      <div class="panel panel-default">
        <div class="panel-header">Trending Topics</div>
        <div class="panel-body">
          <p>Texas</p>
          <p>Presidential Election</p>
          <p>Prop 1</p>
          <p>Mitsubishi</p>
          <p>Obama</p>
        </div>
      </div>
    </div>
  </div>
</div>
<% @localOffices.each do |office| %>
 <%= office %>
<% end %>
<% @stateOffices.each do |office| %>
 <%= office %>
<% end %>
<% @nationalOffices.each do |office| %>
 <%= office %>
<% end %>
<% @politicians.each do |politician| %>
<%= politician %>
<% end %>
