<% if user_signed_in? %>
<h3>Welcome to Assembly Point, <strong><%= @user.username %></strong>!</h3>
<% else %>
<h3> Welcome to  ASSEMBLY POINT.</h3>
<h5>Sign up today for the full experience!</h5>
<p><%=link_to "Enter a new address!", root_path, method: :get %></p>
<% end %>
<hr class="welcome-hr" />
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="dash-grids">
        <h4>Your Elected Officials</h4>
        <hr />
        <% @offices.each.with_index do |office, index| %>
          <%= render :partial => 'politicians/form', locals: { office: office, index: index } %>
          <h5><%= office["name"] %></h5>
          <% office["officials"].each do |key, val| %>
            <p><%= key["name"] %>
            <p><a href="<%= "#myPoliticianModal#{index}" %>" data-toggle="modal" data-target="<%= "#myPoliticianModal#{index}" %>", class: "nav-link">View Politician</a></p>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="dash-grids">
        <h4>Posts Feed</h4>
        <hr />
        <% if @posts.empty? %>
          <p>You have no posts.</p>
        <% end %>
        <% @posts.each do |post| %>
            <span><h5><a href="<%= post.body %>"><%= post.title %></a></h5></span>
            <p>by: <%= link_to post.user.username, user_path(post.user.id), method: :get %></p></li>
            <%= link_to "View Post", post_path(post.id), method: :get %>
        <% end %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="dash-grids">
        <h4>Spotlight</h4>
        <hr />
        <% if @spotlights.nil? %>
          <p>You have no spotlighted events.<p>
        <% else %>
          <p><%= @spotlights.title %></p>
          <p>What is <%= @spotlights.title %>?</p>
          <p><%= @spotlights.description %></p>
          <p>Date: <%= @spotlights.date %></p>
          <a href=" <%=@spotlights.url %>">Click here for more information!</a>
        <% end %>

      </div>
      <hr />
      <div class="dash-grids">
        <h4>Upcoming Events</h4>
        <hr />
        <% if @events.empty? %>
          <p>You have no upcoming events</p>
        <% end %>
        <% @events.each do |event| %>
          <p><strong><%= event.date %></strong></p>
          <p><%= event.title %></p>
          <p><%= link_to "View Event", event_path(event.id), method: :get %></p></li>
        <% end %>
      </div>
    </div>
  </div>
</div>
