<% if user_signed_in? %>
<h4>Welcome to Assembly Point, <strong><%= @user.username %></strong>!</h4>
<% else %>
<h3> Welcome to  ASSEMBLY POINT.</h3>
<h5>Sign up today for the full experience!</h5>
<p><%=link_to "Enter a new address!", root_path, method: :get %></p>
<% end %>
<hr class="welcome-hr" />
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="dash-grids">
        <div class='column-header'>
          <h4>Your Elected Officials</h4>
          <hr />
        </div>
        <% @offices.each.with_index do |office, index| %>
          <%= render :partial => 'politicians/form', locals: { office: office, index: index } %>
          <div class='politician-office'>
            <% office["officials"].each do |key, val| %>
              <p>
                <a href="<%= "#myPoliticianModal#{index}" %>" data-toggle="modal" data-target="<%= "#myPoliticianModal#{index}" %>", class: "nav-link">
                  <strong><%= key["name"] %></strong>
                </a>
              </p>
              <h5><%= office["name"] %></h5>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="dash-grids">
        <div class='column-header'>
          <h4>Posts Feed</h4>
          <hr />
        </div>
        <div class="post-feed">
          <% if @posts.empty? %>
            <p>You have no posts.</p>
          <% end %>
          <% @posts.each do |post| %>
              <h5><strong><a href="<%= post.body %>"><%= post.title %></a></strong></h5>
              <div class="posts-inline">
                <p>posted by <%= link_to post.user.username, user_path(post.user.id), method: :get %> <%= time_ago_in_words(post.created_at) %> ago</p>
                <% if post.comments.count > 1 %>
                  <strong class="view_post_link"><%= link_to "#{post.comments.count} comments", post_path(post.id), method: :get %></strong>
                <% elsif post.comments.count == 0 %>
                  <strong class="view_post_link"><%= link_to "#{post.comments.count} comments", post_path(post.id), method: :get %></strong>
                <% else %>
                  <strong class="view_post_link"><%= link_to "#{post.comments.count} comment", post_path(post.id), method: :get %></strong>
                <% end %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="dash-grids">
        <div class='column-header'>
          <h4>Spotlight</h4>
          <hr />
        </div>
        <% if @spotlights.nil? %>
          <p>You have no spotlighted events.<p>
        <% else %>
          <div class="spotlight-title">
            <h4><%= @spotlights.title %></h4>
          </div>
          <hr class="spotlight-hr" />
          <p>What is the <%= @spotlights.title %>?</p>
          <p><%= @spotlights.description %></p>
          <p>Date: <%= @spotlights.date %></p>
          <strong><a href=" <%=@spotlights.url %>">Click here for more information!</a></strong>
        <% end %>

      </div>
      <hr />
      <div class="dash-grids">
        <div class='column-header'>
          <h4>Upcoming Events</h4>
          <hr />
        </div>
        <% if @events.empty? %>
          <p>You have no upcoming events</p>
        <% end %>
        <% @events.each do |event| %>
          <strong><p class="individual-lines"><%= link_to event.title, event_path(event.id), method: :get %></p></strong>
          <p><%= event.date %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
