<h4>Keep up with your <%= current_user.city %>, <%= current_user.state %> area politicians, <%= current_user.username %>!</h4>

<hr class="welcome-hr" />
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="dash-grids">
        <div class="column-header">
          <h4>Your Elected Officials</h4>
          <hr />
        </div>
        <% @localOffices.each.with_index do |office, index| %>
          <%= render :partial => 'politicians/form', locals: { office: office, index: index } %>
          <div class='politician-office'>
            <% office["officials"].each do |key, val| %>
              <p>
                <a href="<%= "#myPoliticianModal#{index}" %>" data-toggle="modal" data-target="<%= "#myPoliticianModal#{index}" %>", class: "nav-link">
                  <strong><%= key["name"] %></strong>
                </a>
              </p>
              <h5><%= office["name"] %></h5>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="dash-grids">
        <div class="column-header">
          <h4>Posts Feed</h4>
          <hr />
        </div>
        <div class="post-feed">
          <% if @posts.empty? %>
            <p>You have no posts.</p>
          <% end %>
          <% @posts.each do |post| %>
              <h4><strong><a href="<%= post.body %>"><%= post.title %></a></strong></h4>
              <div class="posts-links">
                <p>posted by <%= link_to post.user.username, user_path(post.user.id), method: :get %> <%= time_ago_in_words(post.created_at) %> ago</p>
              </div>
              <div class="posts-links-two">
                <% if post.comments.count > 1 %>
                  <strong class="view_post_link"><i class="fa fa-comment-o" aria-hidden="true"></i> <%= link_to "#{post.comments.count} comments", post_path(post.id), method: :get %></strong>
                <% elsif post.comments.count == 0 %>
                  <strong class="view_post_link"><i class="fa fa-comment-o" aria-hidden="true"></i> <%= link_to "#{post.comments.count} comments", post_path(post.id), method: :get %></strong>
                <% else %>
                  <strong class="view_post_link"><i class="fa fa-comment-o" aria-hidden="true"></i> <%= link_to "#{post.comments.count} comment", post_path(post.id), method: :get %></strong>
                <% end %>
              </div>
          <% end %>
        </div>
      </div>
      <br />
      <% if user_signed_in? %>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myCreatePostsModal" id="admin-buttons">
          Create Post
        </button>

        <div class="modal fade" id="myCreatePostsModal" tabindex="-1" role="dialog" aria-labelledby="myCreatePostsModal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal-header-text">Assembly Point</h4>
              </div>
              <div class="modal-body">
                <%= render 'posts/new', review: Post.new(user_id: current_user.id) %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-3">
      <div class="dash-grids">
        <div class="column-header">
          <h4>Spotlight</h4>
          <hr />
        </div>
        <% if @spotlights.nil? %>
          <p>You have no spotlighted events.<p>
        <% else %>
          <div class="spotlight-title">
            <h4><%= @spotlights.title %></h4>
          </div>
          <hr class="spotlight-hr" />
          <p>What is <%= @spotlights.title %>?</p>
          <p><%= @spotlights.description %></p>
          <p>Date: <%= @spotlights.date %></p>
          <strong><a href=" <%=@spotlights.url %>">Click here for more information!</a></strong>
        <% end %>
        <br /><br />
        <% if current_user.admin? %>
          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#newSpotlightModal" id="admin-buttons">
            Create Spotlight
          </button>
        <% end %>
      </div>
      <hr />
      <div class="dash-grids">
        <div class="column-header">
          <h4>Upcoming Events</h4>
          <hr />
        </div>
        <% if @events.empty? %>
          <p>You have no upcoming events</p>
        <% end %>
        <% @events.each do |event| %>
          <strong><p class="individual-lines"><%= link_to event.title, event_path(event.id), method: :get %></p></strong>
          <p><%= event.date %></p>
        <% end %>
        <% if current_user.admin? %>
          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#newEventModal" id="admin-buttons">
            Create Event
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="newEventModal" tabindex="-1" role="dialog" aria-labelledby="newEventModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-header-text">Assembly Point</h4>
      </div>
      <div class="modal-body">
        <%= render partial: 'events/new' %>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="newSpotlightModal" tabindex="-1" role="dialog" aria-labelledby="newSpotlightModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-header-text">Assembly Point</h4>
      </div>
      <div class="modal-body">
        <%= render partial: 'spotlights/new' %>
      </div>
    </div>
  </div>
</div>
