<h4>Keep up with your national politicians, <%= @user.username %>!</h4>
<% if user_signed_in? %>
  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal">
    Create Post
  </button>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">New Post</h4>
        </div>
        <div class="modal-body">
          <%= render 'posts/new', review: Post.new(user_id: current_user.id) %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<hr />
<div class="container">
  <div class="row">
    <div class="dashboard-panels col-md-8 col-md-offset-0">
      <div class="panel panel-default">
        <div class="panel-header">Article Feed</div>
        <div class="panel-body" style="max-height: 10em;overflow-y: scroll">
          <ol>
            <% @posts.each do |post| %>
                <li><h4><a href="<%= post.body %>"><%= post.title %></a></h4>
                <p>by: <%= post.user.username %></p>
                <p><%= link_to "View Post", post_path(post.id), method: :get %></p></li>
            <% end %>
          </ol>
        </div>
      </div>
    </div>
    <div class="dashboard-panels col-md-4 col-md-offset-0">
      <div class="panel panel-default">
        <div class="panel-header">Your Elected Officials</div>
        <div class="panel-body" style="max-height: 10em;overflow-y: scroll">
          <% @nationalOffices.each do |k, v| %>
            <p><strong><%= k["name"] %></strong></p>
            <% k["officials"].each do |key, val| %>
              <p><%= key["name"] %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="dashboard-panels">
      <div class="panel panel-default">
        <div class="panel-header">Spotlight</div>
        <div class="panel-body">
          <p>Prop 1</p>
          <p>Day of Vote: Saturday, May 7, 2016</p>
          <p>What is Prop 1?</p>
          <p>The ordinance the ballot is asking you about is the potential new ordinance, the one backed by Uber and Lyft. So a vote “for the ordinance” is for the Uber and Lyft ordinance. A vote “against the ordinance” would be you saying, “I don’t want the Uber and Lyft ordinance. I want the existing city ordinance to remain in effect.”</p>
          <a href="https://tax-office.traviscountytx.gov/voters/voter-registration">Click here to register to vote!</a>
        </div>
      </div>
    </div>
  </div>
</div>
