<h4>Keep up with your <%= @user.state %> politicians, <%= @user.username %>!</h4>
<hr class="welcome-hr" />
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="dash-grids">
        <h4>Your Elected Officials</h4>
        <hr />
        <% @stateOffices.each.with_index do |office, index| %>
          <%= render :partial => 'politicians/form', locals: { office: office, index: index } %>
          <p><strong><%= office["name"] %></strong></p>
          <% office["officials"].each do |key, val| %>
            <p><%= key["name"] %>
            <p><a href="<%= "#myPoliticianModal#{index}" %>" data-toggle="modal" data-target="<%= "#myPoliticianModal#{index}" %>", class: "nav-link">View Politician</a></p>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="dash-grids">
        <h4>Posts Feed</h4>
        <hr />
        <% if @posts.empty? %>
          <p>You have no posts.</p>
        <% end %>
        <% @posts.each do |post| %>
            <span><h5><a href="<%= post.body %>"><%= post.title %></a></h5></span>
            <p>by: <%= link_to post.user.username, user_path(post.user.id), method: :get %></p></li>
            <%= link_to "View Post", post_path(post.id), method: :get %>
        <% end %>
      </div>
      <br />
      <% if user_signed_in? %>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal">
          Create Post
        </button>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">New Post</h4>
              </div>
              <div class="modal-body">
                <%= render 'posts/new', review: Post.new(user_id: current_user.id) %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-3">
      <div class="dash-grids">
        <h4>Spotlight</h4>
        <hr />
          <p>Prop 1</p>
          <p>Day of Vote: Saturday, May 7, 2016</p>
          <p>What is Prop 1?</p>
          <p>The ordinance the ballot is asking you about is the potential new ordinance, the one backed by Uber and Lyft. So a vote “for the ordinance” is for the Uber and Lyft ordinance. A vote “against the ordinance” would be you saying, “I don’t want the Uber and Lyft ordinance. I want the existing city ordinance to remain in effect.”</p>
          <a href="https://tax-office.traviscountytx.gov/voters/voter-registration">Click here to register to vote!</a>
      </div>
      <hr />
      <div class="dash-grids">
        <h4>Upcoming Events</h4>
        <hr />
        <% if @events.empty? %>
          <p>You have no upcoming events</p>
        <% end %>
        <% @events.each do |event| %>
          <p><strong><%= event.date %></strong></p>
          <p><%= event.title %></p>
          <p><%= link_to "View Event", event_path(event.id), method: :get %></p></li>
        <% end %>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#newEventModal">
          Create Event
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="newEventModal" tabindex="-1" role="dialog" aria-labelledby="newEventModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Assembly Point</h4>
      </div>
      <div class="modal-body">
        <%= render partial: 'events/new' %>
      </div>
    </div>
  </div>
</div>
