<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <nav class='navbar navbar-default navbar-fixed-top'>
      <div class="container-fluid">
        <a class='navbar-brand'>Assembly Point</a>
          <div class='nav navbar-nav navbar row pull-right'>
            <% if user_signed_in? %>
              <div class= "col-s-3"> <%= link_to "Sign Out", destroy_user_session_path, class: "nav-link" %> </div>
            <% else %>
              <div class= "col-s-3"> <%= link_to "Sign In", user_session_path, class: "nav-link" %> </div>
              <div class= "col-s-3"> <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %> </div>
              <div class= "col-s-3"> <%= link_to "Dashboard", politicians_path, class: "nav-link" %> </div>
            <% end %>
        </div>
      </div>
    </nav>
  </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
