<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- <div class="header-fill" id="top"></div> -->
  <div class="container">
      <nav class='navbar navbar-default'>
        <div class="container-fluid">
          <div class="navbar-header">
            <a class='navbar-brand'>Assembly Point</a>
          </div>
          <div class='navbar-collapse collapse'>
            <% if user_signed_in? %>
              <ul class="nav navbar-nav navbar-right">
                <li> <%= link_to "Home", politicians_path, class: "nav-link" %> </li>
                <li> <%= link_to "Local", politicians_local_path, method: :get, class: "nav-link" %> </li>
                <li> <%= link_to "State", politicians_state_path, method: :get, class: "nav-link" %> </li>
                <li> <%= link_to "National", politicians_national_path, method: :get, class: "nav-link" %> </li>
                <li class="nav-dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><p><%= link_to "Profile", user_path(current_user), method: :get %></p></li>
                    <li><p><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %></p></li>
                  </ul>
                </li>
              </ul>
            <% else %>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#myModal" data-toggle="modal" data-target="#myModal", class: "nav-link">Sign In</a></li>
                <li> <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %> </li>
              </ul>
            <% end %>
          </div>
        </div>
      </nav>
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Assembly Point</h4>
            </div>
            <div class="modal-body">
              <%= render partial: 'devise/sessions/new' %>
            </div>
          </div>
        </div>
      </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>
  </div>
</body>
</html>
